<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Kawaler Wieczorową Porą</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!--<div class="kwp-masthead">
      <div class="container">
        <nav class="kwp-nav">
          <a class="kwp-nav-item active" href="#">Home</a>
          <a class="kwp-nav-item" href="#">New features</a>
          <a class="kwp-nav-item" href="#">Press</a>
          <a class="kwp-nav-item" href="#">New hires</a>
          <a class="kwp-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>
-->
    <div class="container">

      <div class="kwp-header">
        <h1 class="kwp-title">Kawaler Wieczorową Porą</h1>

      </div>

      <div class="row">

        <div class="col-sm-8 kwp-main">
          {% for entry in news_list %}
          <div class="kwp-post">
            <h2 class="kwp-post-title">{{ entry.title }}</h2>
            <p class="kwp-post-meta">{{ entry.posted_date|date:"Y.m.d H:i" }} <a href="#">KWP</a></p>
                <h3>{{ entry.text|safe }}<br/></h3>
                  
                  
          {% endfor %}

         

        <div class="col-sm-3 col-sm-offset-1 kwp-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Tekst <em>pogrubiony</em> testowy</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">August 2017</a></li>
              <li><a href="#">July 2017</a></li>
              <li><a href="#">June 2017</a></li>
              <li><a href="#">May 2017</a></li>
              <li><a href="#">April 2017</a></li>
              <li><a href="#">March 2017</a></li>
              <li><a href="#">February 2017</a></li>
              <li><a href="#">January 2017</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.kwp-sidebar -->

        </div><!-- /.row -->

        </div><!-- /.container -->
      </div>
    </div>
    <footer class="kwp-footer">

        <a href="#">Wróć na górę</a>

    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
